.root-div {
  text-align: justify;
  color: white;
  height: 60px;
  width: 100%;

}

.links {
  height: 100%;
  display: flex;
}

.link {
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

.link:hover {
  background-color: lightblue;
  color: black;
}

.r-div {
  background-image: url('../assets/photos/w1.png');
  background-size: cover;
  opacity: 1;
}
