<div class="container-fluid mb-2" [@myInsertRemoveTrigger]>
  <div class="row text-center ">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6 text-center p-3 transparent">
          <div class="">
            <span class="text-right" style="float: right;cursor: pointer;" (click)="removeCityDetails()">
              <i class="fa fa-remove"></i>
            </span>
          </div>
          <div>
            <h4>{{weather.currentData.name}} </h4>
          </div>

          <div class="text-center"><img src="http://openweathermap.org/img/w/{{weather.currentData.weather[0].icon}}.png">
            &nbsp;<span>{{weather.currentData.weather[0].main}}</span>
          </div>
          <div>
            <span>&uArr; &nbsp; {{weather.currentData.main.temp_max}}&deg;<sup>c</sup></span> &nbsp;
            <span>&dArr; &nbsp;{{weather.currentData.main.temp_min}}&deg;<sup>c</sup></span>
          </div>
          <h2 style="color: rgb(55, 45, 99)">{{weather.currentData.main.temp}}&deg;<sup>c</sup></h2>
          <div>Wind Speed: <span>{{weather.currentData.wind.speed}}&nbsp;km/h</span></div>

        </div>

        <div class="col-sm-3 col-md-3 "></div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text center transparent">
          <a class="collapsed" data-toggle="collapse" href="#five-{{weather.currentData.name}}">
            <h4>5 days forecast</h4>
          </a>

        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="col-12 collapse" id="five-{{weather.currentData.name}}">
      <div class="row">

        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center transparent">
          <hr>
          <app-five-days [fiveDaysData]="weather.fiveDaysData">
          </app-five-days>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>

  </div>
</div>
